body {
    font-family: 'Arial', sans-serif;
}

header img {
    border: 4px solid #D5D8DC;
}
rounded-pill {
    background-color: #e74c3c;
}

weather-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

weather-container h2 {
    margin-bottom: 10px;
}

weather p {
    font-size: 1.2em;
    margin: 5px 0;
}


section {
    padding-top: 50px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #17a2b8;
}
